.main-layout {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 1rem;
    /* flex-wrap: wrap; */
    position: relative;

}

.main-page {
    display: flex;
    align-items: flex-start;
    gap: 2rem;

}