.todo-index {
    display: flex;
    flex-direction: column;
    
    width: 80%;
}

.todos-container,
.todos-list {
    list-style: none;
}

.todos-container {
    columns: 12rem auto;
    height: fit-content;
    padding: 2rem;




}

.todos-container>* {
    break-inside: avoid;
}

.todo>* {
    break-inside: avoid;
}

.todo {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 300px;

    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.todos-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.todo-list::before {
    content: '*';
    margin-right: 0.25rem;
}

.todo-btns {
    display: flex;
    width: fit-content;
}

.todo-btns>* {
    width: 3rem;
}

.todo-list {
    display: block;

}