.todo-index {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #faf9f8;


}



.todos-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.todo {
    display: grid;
    background-color: #eff6fc;
    BOX-SHADOW: rgba(0, 0, 0, 0.1) 0px 0.3px 0.9px 0px, rgba(0, 0, 0, 0.1) 0px 1.6px 3.6px 0px;
    BORDER-RADIUS: 4px;
    width: 100%;
    grid-template-columns: 4fr 2fr 3fr;
    align-items: center;
    


}

.todo:first-child {
    width: 60%;
}